# Environment Variables

# Groq API Key for Chatbot
VITE_GROQ_API_KEY=your_groq_api_key_here

# for coming soon notification
VITE_GOOGLE_SCRIPT_URL=your_google_script_url_here

# for contact form
VITE_MCT_CONTACT=your_contact_script_url_here

# Backend API URL (Replace with your actual backend URL)
VITE_API_URL=http://localhost:5000/api

VITE_RAZORPAY_KEY_ID=rzp_test_1234567890

# for pre-order script and recaptcha
VITE_GOOGLE_SCRIPT_PREORDER_URL=https://script.google.com/macros/s/AKfycbz7rVU5oVUBPUNO7mNnLpMDOE4DAKfJGYrz50LZNyuJl_1ZUHZpO0oHXJR8KXorDFBQ/exec
VITE_RECAPTCHA_SITE_KEY=6Lf0ND0tAAAAAKPmEBOqJnQvTIS-S_bY9H2Zrln_
