# Environment Variables

# Groq API Key for Chatbot
VITE_GROQ_API_KEY=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

# for coming soon notification
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxn6wcFXyc3Mc7chs6mBMQAQJ0RgTth1C51dxo785_zOpXYYS3Xcn-dO7fIu_gbpS8vKg/exec

# for contact form
VITE_MCT_CONTACT=https://script.google.com/macros/s/AKfycbz3XVTpqxB6BkDzyI0g6Hm__fTlI1QIeoofrdlaZ6mGkU0Wqbl8WauUEsaJQ63bt7D8Ow/exec

# Backend API URL (Replace with your actual backend URL)
VITE_API_URL=http://localhost:5000/api

# Razorpay Key ID (Replace with your actual Key ID)
VITE_RAZORPAY_KEY_ID=rzp_test_1234567890
